$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),

    "line-height": (
      property: line-height,
      class: lh,
      values: (
        xs: $line-height-xs,
        md: $line-height-md,
      )
    ),
  )
);