.btn {
    display: flex;
    align-items: center;
    height: 40px;

    &:disabled {
        background-color: #E3E3E3;
        border-color: #E3E3E3;
        color: $neutral-300;
    }
}

.btn-primary {
    color: $primary-900;

    &:active,
    &:focus {
        color: $primary-100;
        background-color: $primary;
        svg path{
            fill: white; 
        }
    }

}

.btn-secondary {
    color: white;
    background-color: $neutral-400;
    border-color: $primary;

    &:active,
    &:focus {
        color: white;
        background-color: $primary;
        border-color: $primary;
    }
}

.btn-thirdy {
    color: $neutral-100;
    background-color: $neutral-600;

    &:active,
    &:focus {
        color: #e3702d;
        border-color: $primary;
        svg path{
            fill: #e3702d; 
        }
    }
}