.input-custom {
margin: 12px 20px 24px 20px;
.form-label {
    font-size: 14px;
}
.form-control {
    border-radius: 8px;
    font-size: 14px;
    padding: 12px;
}
}

.input-search {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
 .form-control {
    background: white;
    border-radius: 8px;
    font-size: 14px;
    padding: 12px 20px;
    &::placeholder {
        color: $neutral-900;
        margin-right: 10px;
    }
}
svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
}

.select-custom {
    position: relative;
    .form-select {
        margin: 12px 40px;
        max-width: 300px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 700;
        padding: 12px 12px 12px 40px;
        background-image: url("../assets/images/icon/arrow-down.svg");
        background-repeat: no-repeat;
        background-position: right 16px center;
        background-size: 16px 16px;
    }
  svg {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}
}