.modal-custom {

    .modal-dialog {
        justify-content: center;
    }
    .modal-content {
        width: 343px;
        border-radius: 10px;
        border: none;
    }
    .modal-header{
    justify-content: center;
    border-bottom: none;
    padding: 20px;
        .modal-title {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .modal-body {
        text-align: center;
        padding: 8px 20px 12px 20px;
    }
    .modal-footer {
        flex-wrap: nowrap;
        border-top: none;
        padding: 20px;
        .btn {
            width: 146px;
            justify-content: center;
            font-weight: 700;
        }
        .btn-thirdy {
            margin: 0 6px 0 0;
        }
        .btn-primary {
            margin: 0 0 0 6px;
        }
    }
}

.modal-custom-btn {
    width: 311px;
    justify-content: center;
    font-weight: 700;
    margin-inline: auto;
}