.order-card {
    height: 184px;
    padding: 20px;
    border: 0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        position: relative;
    } 
    
    &-cover {
        border-radius: 12px;
        overflow: hidden;
        width: 96px;
        height: 96px;
        flex-shrink: 0;
    }

    .tag {
        position: absolute;
        padding: 4px 8px;
        background-color: $neutral-600;
        border-radius: 8px 0;
        z-index: 1;
    }

    &-img {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // clip-path: inset(0 round 9px);
        }
        // .tag-img {
        //     clip-path: path('M 0 0 h 9 a 9 9 0 0 1 9 9 v 87 h -96 v -96 h 9');
        // }
    }

    &-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 4px;
        min-width: 0;
    }
}

.line-dash {
    width: 10px;
    height: 1px;
    background-color: white;
}