/* 用戶評價 card */
.review-card {
    width: 154px;
    height: 180px;
    padding: 12px 16px;
    border: 0;
    border-radius: 8px;

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;
    }
}

/* 併團成員資訊2 card */
.profile-card {
    width: 259px;
    height: 275px;
    border: 0;
    border-radius: 8px;
    padding: 16px;

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(220, 220, 220, 0.2);
        margin-bottom: 12px;
    }

    &-title {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .badge-cover {
        padding: 2px;
        border-radius: 50%;
        background-color: $neutral-400; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-rating {
        display: flex;
        margin-bottom: 8px;
    }

    &-preference {
        display: flex;
        align-items: center;
    }

    &-favorite {
        font-size: 12px;
        line-height: 120%;
    }
}

.divider-vertical {
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: rgba(220, 220, 220, 0.2);
    margin: 0 8px;
    vertical-align: middle;
}

/* 多餘文字省略效果 */
.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.text-multiline-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    // 被提示要加標準的 line-clamp
    display: box;
    line-clamp: 3;
}

