<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <!-- 只有一個按鈕的 bottom sheet -->
    <div class="bottom-sheet bg-neutral-900">
      <div class="btn-only-sheet">
        <button href="#" class="btn btn-primary">返回</button>
      </div>
    </div>

    <!-- 有金額的下單用的 bottom sheet -->
    <div class="bottom-sheet bg-neutral-900">
      <div class="price-sheet">
        <div class="d-flex align-items-center gap-2 mb-3">
          <p class="fs14-normal-lh120">金額</p>
          <p class="fs20-bold-lh140 text-primary">TWD  7,186</p>
        </div>
        <div class="d-flex gap-3">
          <button href="#" class="btn btn-thirdy">一般訂房</button>
          <button href="#" class="btn btn-primary">併團 / 開團</button>
        </div>
      </div>
    </div>
    
    <!-- 選擇日期的 bottom sheet -->
    <div class="bottom-sheet bg-neutral-900">
      <div class="date-sheet">
        <h3 class="mb-4 fs20-bold-lh140">選擇日期</h3>

        <ol class="date-picker mb-4">
          <li class="date-picker-row">
            <div class="date fs14-normal-lh120">26</div>
            <div class="date fs14-normal-lh120">27</div>
            <div class="date fs14-normal-lh120">28</div>
            <div class="date fs14-normal-lh120">29</div>
            <div class="date fs14-normal-lh120">30</div>
            <div class="date fs14-normal-lh120">31</div>
            <div class="date fs14-normal-lh120">1</div>
          </li>
          <li class="date-picker-row">
            <div class="date fs14-normal-lh120">2</div>
            <div class="date fs14-normal-lh120">3</div>
            <div class="date fs14-normal-lh120">4</div>
            <div class="date fs14-normal-lh120">5</div>
            <div class="date fs14-normal-lh120">6</div>
            <div class="date fs14-normal-lh120">7</div>
            <div class="date fs14-normal-lh120">8</div>
          </li>
          <li class="date-picker-row">
            <div class="date fs14-normal-lh120">9</div>
            <div class="date fs14-normal-lh120">10</div>
            <div class="date fs14-normal-lh120">11</div>
            <div class="date fs14-normal-lh120">12</div>
            <div class="date fs14-normal-lh120">13</div>
            <div class="date fs14-normal-lh120">14</div>
            <div class="date fs14-normal-lh120">15</div>
          </li>
          <li class="date-picker-row">
            <div class="date fs14-normal-lh120">16</div>
            <div class="date fs14-normal-lh120">17</div>
            <div class="date fs14-normal-lh120">18</div>
            <div class="date fs14-normal-lh120 selected selected-start">19</div>
            <div class="date fs14-normal-lh120 selected selected-end">20</div>
            <div class="date fs14-normal-lh120">21</div>
            <div class="date fs14-normal-lh120">22</div>
          </li>
          <li class="date-picker-row">
            <div class="date fs14-normal-lh120">23</div>
            <div class="date fs14-normal-lh120">24</div>
            <div class="date fs14-normal-lh120">25</div>
            <div class="date fs14-normal-lh120">26</div>
            <div class="date fs14-normal-lh120">27</div>
            <div class="date fs14-normal-lh120">28</div>
            <div class="date fs14-normal-lh120">29</div>
          </li>
          <li class="date-picker-row">
            <div class="date fs14-normal-lh120">30</div>
            <div class="date fs14-normal-lh120">31</div>
            <div class="date fs14-normal-lh120">1</div>
            <div class="date fs14-normal-lh120">2</div>
            <div class="date fs14-normal-lh120">3</div>
            <div class="date fs14-normal-lh120">4</div>
            <div class="date fs14-normal-lh120">5</div>
          </li>
        </ol>

        <div class="d-flex gap-3">
          <button href="#" class="btn btn-thirdy">清除重選</button>
          <button href="#" class="btn btn-primary">確定日期</button>
        </div>
      </div>
    </div>






    
    <script type="module" src="../main.js"></script>
  </body>
</html>
