<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <!-- 只有一個按鈕的 bottom sheet -->
    <div class="bottom-sheet bg-neutral-900">
      <div class="btn-only-sheet text-center">
        <button href="#" class="btn btn-primary">返回</button>
      </div>
    </div>







    
    <script type="module" src="../main.js"></script>
  </body>
</html>
