<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <!-- 只有一個按鈕的 bottom sheet -->
    <div class="bottom-sheet bg-neutral-900">
      <div class="btn-only-sheet">
        <button href="#" class="btn btn-primary">返回</button>
      </div>
    </div>

    <!-- 有金額的下單用的 bottom sheet -->
    <div class="bottom-sheet bg-neutral-900">
      <div class="price-sheet">
        <div class="d-flex align-items-center gap-2 mb-3">
          <p class="fs14-normal-lh120">金額</p>
          <p class="fs20-bold-lh140 text-primary">TWD  7,186</p>
        </div>
        <div class="d-flex gap-3">
          <button href="#" class="btn btn-thirdy">一般訂房</button>
          <button href="#" class="btn btn-primary">併團 / 開團</button>
        </div>
      </div>
    </div>







    
    <script type="module" src="../main.js"></script>
  </body>
</html>
