.main-content {
  height: calc(100vh - 145px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.home-banner {
     //swiper
     .swiper {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease;
        width: 300px;
      }
      .swiper-pagination{
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .swiper-slide-prev,
      .swiper-slide-next {
          transform: scale(0.8); // 調整兩側卡片的大小
      }
      .swiper-pagination-bullet {
        background: #ffffff;
        border: 1px solid #DCDCDC33;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background: $primary;
        width:  8px;
        height: 8px;
        border-radius: 100px;
      }  


      .banner-overlay-card-img-2 {
        img {
            transform: translateY(-20%);
        }
      }

      .banner-overlay-card-img-3 {
        img {
            transform: translateY(.05%)
        }
      }
}


.home-search {
    &__input {
        position: relative;
        width: 100%;
        &-icon {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
        }
        .form-label {
            font-size: 14px;
        }
        .form-control {
            border-radius: 8px;
            font-size: 14px;
            line-height: 140%;
            padding: 12px;
            padding-left: 36px;
            border: 0;
            
            &::placeholder {
              color: white;

            }
        }
    }

    .clear-link {
      margin-bottom: 11px;
    }

}

.home-countdown {
  &__card-list {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .group-countdown-card {
    flex: 0 0 auto;
  }
}

.home-explore {

  .list-room {
    min-width: 343px;
    .flex-grow-1 {
        max-width: calc(100% - 120px - 16px); // 設置最大寬度，減去圖片寬度和左右邊距
    }
  }

}