.info-form__header {
    .top-title, .top-btn {
        width: auto;
    }
}

.info-form {
    .form-label {
        font-size: 14px;
    }
    .form-control {
        border-radius: 8px;
        font-size: 14px;
        line-height: 140%;
        padding: 12px;
        border: 0;
        background-color: $neutral-350;
        
        &::placeholder {
          color: white;
        }
        &:disabled {
            background-color: rgba(94, 94, 94, 0.12);
            &::placeholder {
                color: $neutral-300;    
            }
        }
    }
    .form-control {
        margin: 0;
        font-weight: normal;
        max-width: 100%;
    }
    &__description {
        .custom-textarea {
            height: 234px;
            resize: none;
        }
    }
    
    .form-check-input:checked[type=radio] {
        background-color: white;
        border-color: $primary;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $primary;
            transform: translate(-50%, -50%);
            border: 2px solid white;
        }
    }
    
    .form-check-input {
        background-color: $neutral-300;
        border: 2px solid #A3A3A3;
        position: relative;
    }

    
}

.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url(data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20id%3D%22Button%20%2F%20Radio%20button%22%3E%0A%3Crect%20x%3D%221%22%20y%3D%221%22%20width%3D%2218%22%20height%3D%2218%22%20rx%3D%229%22%20fill%3D%22white%22%2F%3E%0A%3Crect%20x%3D%221%22%20y%3D%221%22%20width%3D%2218%22%20height%3D%2218%22%20rx%3D%229%22%20stroke%3D%22%23E2702D%22%20stroke-width%3D%222%22%2F%3E%0A%3Ccircle%20id%3D%22Ellipse%22%20cx%3D%229.99935%22%20cy%3D%229.99935%22%20r%3D%225.83333%22%20fill%3D%22%23E2702D%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E);
}

.form-check-input {
    background-color: #fff;
    border: 2px solid #A3A3A3;
}