.info-form__header {
    .top-title, .top-btn {
        width: auto;
    }
}

.info-form {
    .form-label {
        font-size: 14px;
    }
    .form-control {
        border-radius: 8px;
        font-size: 14px;
        line-height: 140%;
        padding: 12px;
        border: 0;
        background-color: $neutral-350;
        
        &::placeholder {
          color: white;
        }
        &:disabled {
            background-color: rgba(94, 94, 94, 0.12);
            &::placeholder {
                color: $neutral-300;    
            }
        }
    }
    .form-control {
        margin: 0;
        font-weight: normal;
        max-width: 100%;
        &.error {
            outline: .5px solid $danger-200;
            box-shadow: 0 0 0 0.25rem rgba(255, 137, 125, 0.25);
        }
    }
    &__description {
        .custom-textarea {
            height: 234px;
            resize: none;
        }
    }
    
    .form-check-input:checked[type=radio] {
        background-color: white;
        border-color: $primary;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $primary;
            transform: translate(-50%, -50%);
            border: 2px solid white;
        }
    }
    
    .form-check-input {
        background-color: $neutral-300;
        border: 2px solid #A3A3A3;
        position: relative;
    }
}

.form-check-input {
    background-color: #fff;
    border: 2px solid #A3A3A3;
}

.navbar-submit-pb {
    padding-bottom: 104px;
}

// .input-default {
//     border-color: #ced4da; /* 預設邊框顏色 */
// }

// .input-error {
//     border-color: red; /* 錯誤狀態邊框顏色 */
// }