.info-form__header {
    .top-title, .top-btn {
        width: auto;
    }
}

.info-form {
    .form-label {
        font-size: 14px;
    }
    .form-control {
        border-radius: 8px;
        font-size: 14px;
        line-height: 140%;
        padding: 12px;
        border: 0;
        background-color: $neutral-350;
        
        &::placeholder {
          color: white;
        }
        &:disabled {
            background-color: rgba(94, 94, 94, 0.12);
            &::placeholder {
                color: $neutral-300;    
            }
        }
    }
    .form-control {
        margin: 0;
        font-weight: normal;
        max-width: 100%;
    }
    &__description {
        .custom-textarea {
            height: 234px;
            resize: none;
        }
    }

}
