.result-header {
    .search, .top-title, .top-btn {
        width: auto;
    }
}

.result-filter {
      .btn-thirdy {
        color: $neutral-100;
        background-color: $neutral-600;
    
        &:active,
        &:focus {
            color: $neutral-100;
            border-color: transparent;
            svg path, svg circle{
                fill: white; 
                transition: fill 0.1s ease-in-out;
                transition-delay: 0s;
            }
        }
    }
    .active {
        color: #e3702d;
        border-color: $primary;
        svg path{
            fill: #e3702d; 
            transition: fill 0.1s ease-in-out;
            transition-delay: 0s;
        }
    }
    &__btn-group {
        display: flex;
        gap: 16px;
        overflow-x: auto;
        white-space: nowrap;
        &::-webkit-scrollbar {
          display: none;
        }
      }
}

.result-title {
    p {
        color: white;
        opacity: .7;
    }
}

.result-cardlist {
    .room-card {
        width: auto;
    }
}